/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

body {
	background-color: rgb(234, 234, 234);
	color: rgb(22, 22, 22);
	line-height: 140%;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

h1 {
	background-color: rgb(249, 138, 28);
	color: rgb(232, 232, 232);
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
    font-size: 2.25em;
	padding: 1em 0.75em 0.5em;
    line-height: 110%;
}

h2 {
    background-color: rgb(249, 138, 28);
	color: rgb(255, 212, 169);
    font-size: 1.7em;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    padding: 0em 1em 1.25em;
}

h3 {
    background-color: rgb(234, 234, 234);
    color: rgb(249, 138, 28);
	margin: 1em 1.5em; /*Three values again. You got the idea.*/
	padding-top: 0.25em;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

figcaption {
    width: 90%;
    font-family: poppins, sans-serif;  
    font-size: 0.9em;
    font-weight: 400;  
    font-style: italic;
    margin: 0.75em;
    padding: 0.5em 0.75em;
  }

ul {
    margin: 1em 1.5em;
}

ol {
    margin: 1em 1.5em;
}

li {
    padding: 0.25em 0.5em 1em 0em;
}

footer {
    background-color: rgb(249, 138, 28);
	color: rgb(255, 245, 234);
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    padding: 1em 1em;
}



/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
